{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
<section id="actu" class="home-container">
    <div class="card card-home">
        <h1>Actualité</h1>        
    </div>
</section>
{% endblock %}
