{% extends 'base.html.twig' %}

{% block body %}
<section id="competences" class="home-container">
    <div class="card card-presentation">
        <h2>Compétences</h2> 
        {{competences.textComp | raw }}       
    </div>
</section>
{% endblock %}
