{% extends 'base.html.twig' %}


{% block body %}
<section id="contact" class="home-container">
  
    <div class="login-box card card-presentation">
        <h2>Contact</h2>
        <form id="contact" method="POST">
            <fieldset>
                <div class="user-box">
                    <input type="text" name="nom">
                    <label>NOM</label>
                  </div>
                  <div class="user-box">
                    <input type="text" name="prenom">
                    <label>Prénom</label>
                  </div>
                  <div class="user-box">
                    <input type="text" name="email">
                    <label>@</label>
                  </div>
                  <div class="user-box">
                    <input type="telephone" name="email">
                    <label>Tél. :</label>
                  </div>
                  <div class="user-box">
                      <span class="conMess">Message</span class="conMess">
                    <textarea id="story" name="message"
                            rows="5" cols="33">
                    </textarea>
                  </div>
                  <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <button class="butt">
                        Envoyer
                    </button>
                  </a>
        </form>               
    </div>
</section>
{% endblock %}
