{% extends 'base.html.twig' %}


{% block body %}
<section id="honoraire" class="home-container">
    <div class="card card-home">
        <h2>Honoraires</h2>
        <div>               
            {{honnoraires.text | raw }}
        </div>       
    </div>
</section>
{% endblock %}
