{% extends 'base.html.twig' %}

{% block body %}
<section id="competences" class="home-container">
    <div class="card card-presentation">
        <h2>Compétences</h2>  
        <!-- <div class="flexPres">
            <div class="card "> -->
        
                {{ form_start(compForm) }}
                        {{ form_row(compForm.textComp | raw) }}
                
                        <button type="submit" class="btn btn-warning">Modifier</button>
                    {{ form_end(compForm) }}      
            <!-- </div>
            </div> -->
        </div>
    </div>  
</section>
{% endblock %}
